#
# Software Name : free5gc-kubernetes
# SPDX-FileCopyrightText: Copyright (c) 2021 Orange
# SPDX-License-Identifier: Apache-2.0
#
# This software is distributed under the Apache License 2.0,
# the text of which is available at todo
# or see the "LICENSE" file for more details.
#
# Author: Abderaouf KHICHANE, Ilhem FAJJARI, Ayoub BOUSSELMI
# Software description: An open-source project providing Helm charts to deploy 5G components (Core + RAN) on top of Kubernetes
#
# Default values for free5gcControlPlane chart.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

nameOverride: ""
fullnameOverride: ""

global:
  projectName: free5gc
  nrf:
    service:
      name: nrf-nnrf
      type: ClusterIP
      port: 80
      nodePort: "30800"
  sbi:
    scheme: http

initcontainers:
  curl:
    registry: towards5gs
    image: initcurl
    tag: "1.0.0"
  busybox:
    image: busybox
    tag: "1.32.0"

controller:
  name: controller
  image: haidinhtuan/controller
  tag: latest
  service:
    type: ClusterIP
    port: 9999
  env:
    NF_TYPE: udm
    ISSUER_DID: "8G6ng6cn8iNnkU265MbGgJ"
    SCHEMA_ID: "8G6ng6cn8iNnkU265MbGgJ:2:auth:1.0"
    CRED_DEF_ID: "8G6ng6cn8iNnkU265MbGgJ:3:CL:55507:default"
    ACAPY_IP: "127.0.0.1"
    ACAPY_PORT: 7777
    APP_PORT: 9999
    DB_PORT: 5432
    NF_PORT: 80
    AMF_DID: "XttS63fu9n3NtKgQKDxwGi"
    AUSF_DID: "R4XrH8yGdYsVJt2mZZ5PbT"
    NRF_DID: "y77ZersNcdw9QaT2Jwucv"
    NSSF_DID: "4iQ373D2PMBPPFenwKU7GQ"
    PCF_DID: "NnG1VLYrsUC7aW2qvkuDZE"
    SMF_DID: "VK4N2U7aEToneqAu7bGSqp"
    UDM_DID: "Lq757Qm8wH4eHvcPY8yjfK"
    UDR_DID: "UGCCvUZwjKvmK3yzBCN36g"


database:
  name: database
  image: haidinhtuan/nf-db
  env:
    POSTGRES_PASSWORD: "postgres"

acapy:
  name: acapy
  image: bcgovimages/aries-cloudagent:py36-1.16-1_0.8.1
  env:
    ACAPY_ADMIN_INSECURE_MODE: "true"
    ACAPY_AUTO_PROVISION: "true"
    ACAPY_DEBUG_CONNECTIONS: "true"
    ACAPY_ENDPOINT: "http://free5gc-core-free5gc-udm-acapy-service:5555"
    ACAPY_LABEL: "UDM"
    ACAPY_LOG_LEVEL: "info"
    ACAPY_GENESIS_URL: "https://raw.githubusercontent.com/IDunion/indy-did-networks/main/networks/idunion/test/pool_transactions_genesis.json"
    ADMIN_PORT: "7777"
    AGENT_PORT: "5555"
    SEED: "9MDe89Sfkr4DEq6vZpmq4oXItuXteaMa"
  service: 
    type: ClusterIP
    port: 5555

udm:
  name: udm
  replicaCount: 1
  image:
    name: haidinhtuan/free5gc-udm
    pullPolicy: Always
  service:
    type: ClusterIP
    port: 80
  volume:
    mount: /free5gc/config/
  podAnnotations: {}
    # additional annotations
  imagePullSecrets: []
  podSecurityContext: {}
  securityContext: {}
  resources:
    requests:
      cpu: 100m
      memory: 128Mi
  readinessProbe:
    initialDelaySeconds: 0
    periodSeconds: 1
    timeoutSeconds: 1
    failureThreshold:  40
    successThreshold: 1
  livenessProbe:
    initialDelaySeconds: 120
    periodSeconds: 10
    timeoutSeconds: 10
    failureThreshold: 3
    successThreshold: 1
  nodeSelector: {}
  tolerations: []
  affinity: {}
  autoscaling:
    enabled: false
    minReplicas: 1
    maxReplicas: 100
    targetCPUUtilizationPercentage: 80
    # targetMemoryUtilizationPercentage: 80
  ingress:
    enabled: false
    annotations: {}
      # kubernetes.io/ingress.class: nginx
      # kubernetes.io/tls-acme: "true"
    hosts:
      - host: chart-example.local
        paths: []
    tls: []
    #  - secretName: chart-example-tls
    #    hosts:
    #      - chart-example.local
  configuration:
    serviceNameList: |-
        - nudm-sdm
        - nudm-uecm
        - nudm-ueau
        - nudm-ee
        - nudm-pp
    configuration: |-
      # test data set from TS33501-f60 Annex C.4
      SuciProfile:
        - ProtectionScheme: 1 # Protect Scheme: Profile A
          PrivateKey: c53c22208b61860b06c62e5406a7b330c2b577aa5558981510d128247d38bd1d
          PublicKey: 5a8d38864820197c3394b92613b20b91633cbd897119273bf8e4a6f4eec0a650
        - ProtectionScheme: 2 # Protect Scheme: Profile B
          PrivateKey: F1AB1074477EBCC7F554EA1C5FC368B1616730155E0041AC447D6301975FECDA
          PublicKey: 0472DA71976234CE833A6907425867B82E074D44EF907DFB4B3E21C1C2256EBCD15A7DED52FCBB097A4ED250E036C7B9C8C7004C4EEDC4F068CD7BF8D3F900E3B4

    logger:
      UDM:
        debugLevel: info
        ReportCaller: false

hostAliases:
  - ip: "127.0.0.1"
    hostnames:
    - "ausf.snet.tuberlin"
    - "nssf.snet.tuberlin"
    - "pcf.snet.tuberlin"
    - "smf.snet.tuberlin"
    - "amf.snet.tuberlin"
    - "udr.snet.tuberlin"
    - "upf.snet.tuberlin"
